.chargecell {
  position: relative;
  width: 328px;
  height: 136px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 15px;
  padding: 30px 0;
}

.chargecell-normal {
  border:none;;
}
.chargecell-selected {
  border:solid;
  border-width: 3px;
  border-color: #F86442; 
}

.chargecell .price {
  position: relative;
  font-size: 32px;
  color: #333333;
  text-align: center;
}

.chargecell .mq {
  position: relative;
  font-size: 24px;
  color: #999999;
  text-align: center;
}