.o-tag-container{
  flex-direction: row;
  align-items: stretch;
}
.o-tagitem{
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.o-tag-img{
  width: 70px;
  height: 70px;
}
.o-tag-text{
  color: #464646;
  font-size: 25.92px;
}
