$likeButton_w:375px;
$likeButton_h:90px;
$icon_w:29px;
$text_w:40px;
$padding:25px;
$margin:($likeButton_w - $icon_w - $padding - $text_w) / 2;

.likeButton {
    position: relative;
    width: $likeButton_w;
    height: $likeButton_h;
    flex-direction: row;
    align-self: center;
}

.likeButton .likeButton-icon {
    position: absolute;
    top: ($likeButton_h - $icon_w) / 2;
    left:$margin;
    width: $icon_w;
    height: $icon_w;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.likeButton .likeButton-text {
    position: absolute;
    top: 0;    
    right: $margin;    
    line-height: $likeButton_h;
    width: $text_w;
    text-align: left;
    font-size: 27px;
    color: #D5AB3F;
}
