.discover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F5F5F5;

  .reward{
    position: relative;
    width:750px;
    height:140px; 
    background:rgba(255,255,255,1);
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px 0 15px;
    align-items: center;
    margin: 0 0 20px 0;

    .header{
      position: relative;
      height:140px; 
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .icon {
        position: relative;
        width:120px;
        height:140px;
      }
    
      .content {
        position: relative;
        height:140px; 
        justify-content: space-between;
        align-items: left;
        flex-direction: column;
        padding: 32px 0 32px 5px;
    
        .content-title {
          font-size:30px;
          color:rgba(0,0,0,1);
        }
    
        .subtitle {
          font-size:26px;
          color:rgba(153,153,153,1);
        }
      }
    }
    
  
    .button{
      width:155px;
      height:62px; 
      background-image: linear-gradient(to right, #E7C25F, #C69735);
      border-radius: 10px;
      box-shadow:7px 0px 9px rgba(3,9,16,0.07);
      align-items: center;
      justify-content: space-around;

      .title{
        font-size:26px;
        color: #ffffff;
        text-align: center;
      }
    }
  }

  .tabs-content {
    position: relative;
    background-color: #ffffff;
  }
}
