.loading {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  flex-direction:row;
  justify-content: center;
}
.loadingline {
  position: absolute;
  width: 486px;
  height: 1px;
  background-color: #E5E5E5;
}
.img {
  width: 40px;
  height: 40px;
}
.o-loading-text {
  margin-left: 20px;
  color: #999999;
  font-size: 14px;
  padding-left:10px;
  padding-right:10px;
}
